*.7z
*.bin
*.ckpt.index
*.egg-info
*.h5
*.keras
*.log
*.mblt
*.msgpack
*.mxq
*.npz
*.npy
*.onnx
*.o
*.out
*.pb
*.pth
*.pt
*.pyc
*.safetensors
*.so
*.tar.gz
*.tar.xz
*.tflite
*.torchscript
*.txt
*.whl
*.zip
*__pycache__*
.vscode/
build/
dist/
tmp/
val2017/
imagenet-1k*/
