*.7z
*.bin
*.ckpt.index
*.egg-info
*.h5
*.keras
*.log
*.mblt
*.msgpack
*.mxq
*.npz
*.npy
*.o
*.onnx
*.out
*.pb
*.pth
*.pt
*.pyc
*.safetensors
*.so
*.tar.gz
*.tar.xz
*.tflite
*.torchscript
*.txt
*.wav
*.whl
*.zip
*__pycache__*
build/
dist/
.vscode/
coco-*/
imagenet-1k*/
tmp/
val2017/
